extends layout

block content
  .monitor-lockup
    .panel.panel-default.arrival-panel.critical
      .panel-body
        .panel-top-row
          if user
            //- TODO: get from api request 
            if user.profile.picture 
              img.arrival-panel-img(src=user.profile.picture)
            else
              img.arrival-panel-img(src=user.gravatar(60))
          span.panel-route-num 19
        hr
        .panel-bottom-row
          p via Autumnwood
          p Stop XXXXX
          p <strong>Time to leave now!</strong>
    .panel.panel-default.arrival-panel.soon
      .panel-body
        .panel-top-row
          if user
            //- TODO: get from api request 
            if user.profile.picture 
              img.arrival-panel-img(src=user.profile.picture)
            else
              img.arrival-panel-img(src=user.gravatar(60))
          span.panel-route-num 18
        hr
        .panel-bottom-row.soon
          p Corydon
          p Stop XXXXX
          p Time to leave in <strong>6</strong> minutes
    .panel.panel-default.arrival-panel.low-priority
      .panel-body
        .panel-top-row
          if user
            //- TODO: get from api request 
            if user.profile.picture 
              img.arrival-panel-img(src=user.profile.picture)
            else
              img.arrival-panel-img(src=user.gravatar(60))
          span.panel-route-num 161
        hr
        .panel-bottom-row
          p University of Manitoba
          p Stop XXXXX
          p Time to leave in <strong>30</strong> minutes
